<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品詳細</title>
<link href="/css/commons.css" rel="stylesheet">
</head>
<body>

<th:block th:insert="/common/header"></th:block>

  <div class="update">
    <div class="form-body">
      <div class="img_block">
        <img src="/images/マッキー.png" class="product-img"><br>
      </div>
      <form action="/productDelete" method="post" th:Object="${product}">
        <fieldset class="label-130 product_block">
          <p class="error" th:text="${error}"></p>
          <div>
            <label>商品ID</label>
            <input type="text" name="productId" value="10001" readonly class="base-text" th:field="*{productId}">
          </div>
          <div>
            <label>商品名</label>
            <input type="text" name="name" value="マッキー(黒)" readonly class="base-text"  th:field="*{productName}">
          </div>
          <div>
            <label>単価</label>
            <input type="text" name="price" value="165" readonly class="base-text"  th:field="*{productPrice}">
          </div>
          <div>
            <label>カテゴリ</label>
            <input type="text" name="categoryId" readonly class="base-text" th:field="*{categoryName}">
          </div>
          <div>
            <label>商品説明</label>
            <textarea name="description" readonly class="base-text" style="background-color: rgb(209, 209, 209);"  th:field="*{description}">

            </textarea>
          </div>
        </fieldset>
        <div>
          <div class="btns" th:if="${userRole == 1}">
            <input type="button" onclick="openModal()" value="削除" class="basic-btn">
            <a th:href="@{/productUpdateInput/{id}(id=${productId})}"><input type="button" value="編集" class="basic-btn"></a>
            <input type="button" onclick="location.href='/menuIndex'" value="戻る" class="cancel-btn">
          </div>
          <div id="modal">
            <p class="modal-message">削除しますか？</p>
            <div class="btns">
              <button type="submit" id="delete-btn" class="basic-btn">削除</button>
              <button type="button" onclick="closeModal()" class="cancel-btn">キャンセル</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="fadeLayer"></div>
  <script src="/js/commons.js"></script>
<!--  <script>-->
<!--    'use strict'-->
<!--    document.getElementById('delete-btn').addEventListener('click', () => {-->
<!--      location.href = './menu.html'-->
<!--    })-->
<!--  </script>-->
</body>
</html>